---
layout: default
---
<div class="catalogue">
    {% for post in paginator.posts %}
    <a class="catalogue-item" href="{{ post.url | prepend: site.baseurl }}">
        <div>
            <time class="catalogue-time" datetime="{{ post.date }}">
                {{ post.date | date: "%d." }} 
                {% assign m = post.date | date: "%B" %}
                {{ site.data.german.month[m] }} 
                {{ post.date | date: "%Y" }}
            </time>
            <h1 class="catalogue-title">
                {{ post.title }}
            </h1>
            <div class="catalogue-line">
            </div>
            <p>
                {{ post.content | truncatewords: 30 | strip_html }}
            </p>
        </div>
    </a>
    {% endfor %}
</div>
<div class="pagination">
    {% if paginator.previous_page %}
    <a class="left arrow" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
        ←
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a class="right arrow" href="{{ paginator.next_page_path | prepend: site.baseurl }}">
        →
    </a>
    {% endif %}
    <span>
        {{ paginator.page }}
    </span>
</div>
